:root {
  --colorBase: #312559;
  --colorLetras: #0dc4d9;
  --colorSegundo: #f28972;
  --TamañoTitulos: 22px;
}

/* Tipografia */
@font-face {
  font-family: "Titulos";
  src: url(../fonts/K2D-SemiBold.woff2) format("woff2");
}

@font-face {
  font-family: "Parrafos";
  src: url(../fonts/K2D-Light.woff2) format("woff2");
}

body {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: var(--colorBase);
}

/* HEADER */
.lineas-decor {
  width: 100%;
}

.Titulo {
  font-family: "Titulos";
  font-size: 28px;
  color: var(--colorLetras);
}

.subtitulo {
  font-family: "Titulos";
  color: white;
}

.logo_mallorcaG {
  margin-top: 24px;
}

.titulo_ciclos {
  font-family: "Titulos";
  font-size: 28px;
  color: var(--colorSegundo);
}

/* FORM */
input[type="checkbox"] {
  width: 1.2em;
  height: 1.4em;
}

input[type="checkbox"]::before {
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

label {
  font-family: "Parrafos";
  color: white;
  display: inline-block;
  width: 300px;
}

.parrafo_final {
  font-family: "Parrafos";
  font-size: 18px;
  color: var(--colorSegundo);
}

/* FORM ENVIAR DATOS */
.enviar_cursos input {
  padding: 15px;
  border-radius: 12px;
  width: 250px;
  margin: 14px;
}

.aviso {
  font-family: "Parrafos";
  font-size: 18px;
  color: white;
}

input::placeholder {
  font-size: 16px;
  font-family: "Parrafos";
}

.btn_envio {
  background-color: #d91e1e;
  border-radius: 16px;
  width: 50%;
  color: white;
  font-family: "Parrafos";
}

